{% extends "BackBundle::base.html.twig"%}

{% block title%}Liste des Factures{% endblock title%}

{% block style %}
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{{ ('../../back/plugins/fontawesome-free/css/all.min.css') }}">

    <!-- Theme style -->
    <link rel="stylesheet" href="{{ ('../../back/dist/css/adminlte.min.css') }}">
{% endblock style %}

{% block content %}

<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Liste des Factures</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th>Nom &amp; Prenom</th>
                                        <th>Libelle</th>
                                        <th>Montant</th>
                                        <th>Action</th>
                                        {# <th>Prénom(s)</th>
                                        <th>Parent</th> #}
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for e in factures %}
                                    <tr>
                                        <td>{{ e.eleve.nom }} {{ e.eleve.prenom }}</td>
                                        <td>{{ e.libellepaiement }}</td>
                                        <td>{{ e.montantfinal }}</td>
                                        <td><a href="{{ path('get_facture', {id: e.id}) }}">Voir facture</a></td>
                                        {# <td>{{ e.prenom }}</td>
                                        <td>{{ e.parents.nom }} {{ e.parents.prenom }}</td> #}
                                    </tr>
                                    </tbody>
                                    {% endfor%}
                                    <tfoot>
                                    <tr>
                                        <th>Nom &amp; Prenom</th>
                                        <th>Libelle</th>
                                        <th>Montant</th>
                                        <th>Action</th>

                                        {# <th>Prénom(s)</th>
                                        <th>Parent</th> #}
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
</div>
<!-- ./wrapper -->

{% endblock content %}

{% block script %}
    <!-- jQuery -->
    <script src="{{ ('../../back/plugins/jquery/jquery.min.js') }}"></script>
    <!-- Bootstrap 4 -->
    <script src="{{ ('../../back/plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- AdminLTE App -->
    <script src="{{ ('../../back/dist/js/adminlte.min.js') }}"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="{{ ('../../back/dist/js/demo.js') }}"></script>
    <!-- Page specific script -->
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>
{% endblock script %}

