{% extends "BackBundle::base.html.twig"%}

{% block title%}Messagerie{% endblock title%}

{% block style %}
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{{ ('../../back/plugins/fontawesome-free/css/all.min.css') }}">

    <!-- Theme style -->
    <link rel="stylesheet" href="{{ ('../../back/dist/css/adminlte.min.css') }}">
{% endblock style %}

{% block content %}

 <div class="alert alert-success">
   {% set flashbag_notices = app.session.flashbag.get('notice') %}
   {% if flashbag_notices is not empty %}
 
   <div class="flash-notice">
       {% for notice in flashbag_notices %}
       {{notice}}
       {% endfor %}
   </div>
<div class="container">
       <div class="row">
           <div class="col-sm-4">
               <h2 class=page-header>MESSAGE</h2>
                   {{form_start(form)}}
                   {{form_widget(form)}}
                   {{form_end(form)}}
           </div>
       </div>
</div>
{% endblock content%}